<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Actualizar datos de la tabla Paciente</h3>
    </div>
    <div class="card-body">
      <form >
        <div class="form-group">
          <label for="">Nombres:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="paciente.nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <label for="">Apellidos:</label>
          <input type="text" class="form-control" id="apellidos" [(ngModel)]="paciente.apellidos" name="apellidos" required>
        </div>
        <div class="form-group">
          <label for="">Direccion:</label>
          <input type="text" class="form-control" id="direccion" [(ngModel)]="paciente.direccion" name="direccion" required>
        </div>
        <div class="form-group">
          <label for="">Foto de Perfil</label>
          <input type="file" class="form-control-file" id="fotoPerfil" name="fotoPerfil" [(ngModel)]="paciente.fotoPerfil" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <p id="fechaCreacion" ngDefaultControl  [(ngModel)]="paciente.fechaCreacion" name="fechaCreacion"></p>
        <div class="form-group">
          <label for="">Telefono:</label>
          <input  type="text" class="form-control" id="telefono" [(ngModel)]="paciente.telefono" name="telefono" required>
        </div>
        <div class="form-group">
          <label for="" >Fecha de Nacimiento</label>
            <input class="form-control" type="date" id="fechaNacimiento" [(ngModel)]="paciente.fechaNacimiento" name="fechaNacimiento" required>
        </div>
        <button class="btn btn-outline-primary" (click)="actualizar(paciente)">Guardar</button>
        <button class="btn btn-outline-danger" routerLink="/home">Cancel</button>
      </form>
    </div>
  </div>
</div><br>
