.btn-outline-info{
  margin-left: 70%;
}
.btn-outline-danger{
  margin-left:10px
}
.btn-danger{
  margin-left: 10px;
}
.container {
  justify-content: center;
  margin-top: 20px;
}
.fotoPerfil{
  width: 30%;
}
